@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #11111b;
@define-color main-fg #cdd6f4;

@define-color wb-act-bg #a6adc8;
@define-color wb-act-fg #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-fg #313244;

@define-color base   #434352;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;
/*@const active_rad: 10px;*/

* {
    background-image: none;
    font-size: 40px;
}

/*@import "$HOME/.config/waybar/style.css";*/


window {
    background-color: transparent;
}

button {
    color: @overlay0;
    background-color: @base;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    opacity: 0.6;
}

button:focus {
    background-color: @blue;
    background-size: 25%;
    opacity: 0.7;
}

button:hover {
    background-color: @pink;
    background-size: 30%;
    border-radius: 40px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
    opacity: 0.85;
}

button:hover#logout {
    border-radius: 40px;
    margin : 160px 0px 160px 400px;
}

button:hover#suspend {
    border-radius: 40px;
    margin : 160px 0px 160px 0px;
}

button:hover#shutdown {
    border-radius: 40px;
    margin : 160px 0px 160px 0px;
}

button:hover#hibernate {
    border-radius: 40px;
    margin : 160px 0px 160px 0px;
}

button:hover#reboot {
    border-radius: 40px;
    margin : 160px 400px 160px 0px;
}


#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout_${BtnCol}.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 20px 0px 0px 20px;
    margin : 200px 0px 200px 400px;
}


#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown_${BtnCol}.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 200px 0px 200px 0px;
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/hibernate_${BtnCol}.png"), url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 200px 0px 200px 0px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot_${BtnCol}.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 20px 20px 0px;
    margin : 200px 400px 200px 0px;
}
